__pycache__/
Model/__pycache__/
i3D-vggish-features/
checkpoint-pretraining/

Results/Test/Test.pkl
recreate_multitask_1epoch.pkl
recreate_multitask_10epoch.pkl

IRESComicMischief/Results/2EpochsRecreate/Test2.pkl

Results/DynamicDifficultySampling10/DynamicDifficultySampling10.pkl
Results/gory10/gory.pkl
Results/GradNorm10/GradNorm10.pkl
Results/GradNorm10Old/GradNorm10.pkl
Results/mature10/mature.pkl
Results/One_At_A_Time/One_At_A_Time.pkl
Results/One_At_A_Time4Each/One_At_A_Time4Each.pkl
Results/sarcasm10/sarcasm.pkl
Results/slapstick10/slapstick.pkl
Results/TEST_gory/TEST_gory.pkl
Results/2EpochsRecreate/Test2.pkl

initialize_INAOE.sh

old_train.py